:root {
  padding: 0;
  margin: 0;
  font-size: 16px;
}
@page {
  size: A4;
}
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-weight: normal;
}
hr {
  border: none;
  border-bottom: 0.5px dotted rgba(0, 0, 0, 0.1);
  margin: 0.25rem 0;
}
html {
  height: 100%;
  width: 100%;
  scroll-behavior: smooth;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
body {
  min-height: 100vh;
  font-family:
    'Inter',
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#app {
  max-width: 1280px;
  margin: 0 auto;
  font-weight: normal;
  background-color: rgba(0, 0, 0, 0.03);
}
